<!DOCTYPE html>
<html>
<head><style>
.center {
  margin: auto;
  width: 60%;
  height: 600px;
  border: 3px solid grey;
  padding: 10px;
  box-shadow: 5px 20px 20px grey;
  top: 30px;
  text-align: center;
    background-color: #e8f4f8;



  

},

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
<BASE href=<%= urlBase %>>

<title></title></head>
<body>
<div>
	<div class="center">
<section class="section">
    <div class="container">
      <h1 class="title">
        two-factor-authy
      </h1>
      <p class="subtitle">
      </p>
      <br>
      <strong>-running on <%= urlBase %><br><br><br>
</strong>
      <br>
        
        <a href="../swagger">
        <button class="button is-large" class="button is-info" >API Swagger</button>
        </a>

    </div>
  </section></div></body></html>